body {
    position: relative;
}
.reminder_body {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    /* background: #000000b8; */
}
.reminder_body .reminder_popup {
    position: absolute;
    width: 70%;
    height: 400px;
    z-index: 200;
    top: 20%;
    left: 0;
    margin: 0 auto;
    right: 0;
    display: inline;
}

@media (max-width:576px) {
    .reminder_body .reminder_popup {
        width:100%;
    }
}

.reminder_body .left_bar {
    width: 30%;
    float: left;
    margin: 0;
    background: #3e4245;
    height: 100%;
    text-align: center;
    border: 1px solid white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.reminder_body .left_bar img {
    display: block;
    margin: 150px auto;
}
.reminder_body .left_bar img.remind_img1 {
    margin-bottom: 20px;
}
.reminder_body .left_bar img.remind_img2 {
    margin-top: 20px;
}

.reminder_body .right_bar_remind h2{
    font-size: 2em;
}
.reminder_body .right_bar_remind {
    float: right;
    width: 70%;
    margin: 0;
    background: #fff;
    height: 100%;
    padding: 25px;
    color: #000;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    
}
.reminder_body .right_bar_remind .right_bar_content {
    color: #000;
    display: none;
}

.reminder_body .right_bar_remind .right_bar_content .remind_heading {
    margin-bottom: 20px;
}

.reminder_body .right_bar_remind .right_bar_content .remind_text {
    font-size: 18px;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 260px;
}

.reminder_body .right_bar_remind .right_bar_content button.back_btn {
    background: none;
    border: 1px solid;
}
.reminder_body .right_bar_remind .right_bar_content button.back_btn:hover {
    background: #73879C;
    color: #fff;
}

.reminder_body .right_bar_remind .right_bar_content .fromUser {
    margin-right: 18px;
    font-size: 12px;
}

.reminder_body .right_bar_remind ul {
    overflow-x: hidden; 
    overflow-y: scroll; 
    height: 80%;
}

.reminder_body .right_bar_remind .reminder_li {
    cursor: pointer;
    border: 1px solid #ddd;
    padding: 7px;
    margin-bottom: 5px;
    width: 98%;
}

.reminder_body .right_bar_remind .reminder_li:hover {
    background: #827e8e;
    color: #fff;
    border: none;
    box-shadow: 0px 2px 11px #888888;
}

.reminder_body .right_bar_remind .reminder_li span{
    display: inline-block;
}

.reminder_body .right_bar_remind .from_remind {
    margin-right: 20px;
    width: 40%;
}
.reminder_body .right_bar_remind .remind_shot_text {
    width: 40%;
    font-weight: 400;
}

.usersFor span.label {
    text-transform: capitalize;
    display: inline-block;
    margin-right: 8px;
    font-size: 12px;
}

@media screen and (max-width:768px) {
    .reminder_body .left_bar {
        width: 100%;
        height: unset;
    }
    .reminder_body .left_bar img {
        margin: 25px auto;
    }
    .reminder_body .left_bar img.remind_img1 {
        margin-bottom: 10px;
    }
    .reminder_body .left_bar img.remind_img2 {
        margin-top: 14px;
    }

    .reminder_body .right_bar_remind {
        width: 100%;
    }
}
